/* import */
@import url('jelstanimations.css');

html {
    font-family: 'Noto Sans', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
}

body {
    background-image: linear-gradient(0deg, #e4e4e4, #e4e4e4 6px, #e2e2e2 6px, #e2e2e2);
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    background-size: 100% 12px;
}

.cursor {
    width: 40px;
    height: 40px;
    background: url('/assets/img/wiicursor.png') no-repeat;
    background-size: contain;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.5));
    transition: 0.3s ease-in-out;
    transition-property: width, height;
    overflow: hidden;
}
.cursor.expand {
    width: 30px;
    height: 30px;
}

.text-sequence {
   /* animation: textAnimation 3s ease-in-out forwards; */
    position: relative;
    margin: 0 auto;
    display: block;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
.circleAround {
    position: relative;
    display: inline-block;
    margin: 0 1ch;
    font-weight: 700;
    color: #fff;
    animation: circleAround 3s ease-in-out forwards;
}
.circleAround::after {
    content: '';
    position: absolute;
    margin-left: -1.95ch;
    margin-top: 0.25ch;
    display: inline-block;
    border-radius: 1em;
    border: 1px solid #fff;
    width: 2.5ch;
    height: 2.5ch;
}

.intro-sequence-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.8;
    /* animation: moveOutToTop 1s ease-in-out forwards 3s; */
    background-color: #000000;
    z-index: 99;
    color: white;
    transition: all 1s ease-in-out;
    opacity: 1;
}
.intro-sequence-container a {
    color: #fff;
    text-decoration: none;
}

.jelst-btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 2px solid #fff;
    border-radius: 0.2em;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}
.jelst-btn:hover {
    background-color: #fff;
    color: #14151f;
}

.game-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 50vh;
    color: #fff;
    width: 80vw;
    max-width: 1080px;
    overflow-x: hidden;
    padding-top: 64px;
}

.game-container-inner {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 2em;
    padding: 1em;
    justify-items: center;
    
}

.jelst-home-btn {
    width: 300px;
    min-height: 34px;
    vertical-align: center;
    text-align: center;
    padding: 2em 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-size: cover;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.7);
    border: 2px solid #7a7a7a;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jelst-home-btn:hover {
    transform: scale(1.05);
    border: 2px solid #1bc1e7;
}

.btn-plinko {
    background: url('/assets/img/pachinko.jpeg') no-repeat center;  
    background-size: cover;
}
.btn-slots {
    background: url('/assets/img/slots.jpeg') no-repeat center;
    background-size: cover;
}
.btn-cases {
    background: url('/assets/img/cases.webp') no-repeat center;
    background-size: cover;
}
.btn-cs {
    background: url('/assets/img/static.gif') no-repeat center;
    background-size: cover;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 400px;
    background-repeat: repeat-x;
    background-size: 200px;
    background-position: bottom;
    background-image: url('/assets/img/MidpartWii.svg');
}
.footer-current-time {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    color: #7a7a7a;
}

@media screen and (min-width: 768px) {
    footer::after, footer::before {
        position: absolute;
        content: '';
        display: block;
        width: 380px;
        height: 400px;
        background-image: url('/assets/img/EndpartWii.svg');
        background-repeat: no-repeat;
        background-size: 386px;
        background-position: bottom;
    }
    footer::before {
        transform: scaleX(-1);
        bottom: 0;
        right: 0;
    }
    
}

.wii-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 32px;
    width: 96px;
    height: 96px;
    background: radial-gradient(circle,  #e2e2e2 0% 50%, #d1d1d1 100%);
    border-radius: 512px;
    border: 3px solid #1bc1e7;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}
.wii-menu-btn img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    color: #7a7a7a;
}
.wii-menu-btn:hover {
    transform: scale(1.05);
}

.footer-username {
    left: 80px;
}
.footer-credits {
    right: 80px;
}

.footer-username-form {
    position: absolute;
    bottom: 142px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 3px solid #1bc1e7;
    background: #e2e2e2;
    padding: 1em 1.25em;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.18);
    z-index: 3;
    opacity: 1;
    transform-origin: 0px 40px;
    transition: all 0.3s ease-in-out;
}

.footer-username-form-inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.footer-username-form input {
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 700;
    color: #7a7a7a;
    text-align: start;
    width: 100%;
    outline: none;
    background: #fff;
    padding: .5em .25em;
    border-radius: 16px;
    text-align: center;
}

.footer-username-form button {
    border: none;
    background: #1bc1e7;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    padding: .5em 1em;
    border-radius: 16px;
    margin-top: 1em;
}

.footer-username-form.hidden {
    opacity: 0;
    z-index: -1;
    transform: translateX(-100%);
}
.alert {
    display: none;
}
.alert-success {
    color: green;
    display: inline;
}
.alert-danger {
    color: red;
    display: inline;
}

.footer-leaderboard {
    position: absolute;
    bottom: 142px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 3px solid #1bc1e7;
    background: #e2e2e2;
    padding: 1em 1.25em;
    box-shadow: 6px 6px 10px rgba(182, 159, 159, 0.18);
    z-index: 3;
    opacity: 1;
    transform-origin: 0px 40px;
    transition: all 0.3s ease-in-out;
}
.footer-leaderboard.hidden {
    opacity: 0;
    z-index: -1;
    transform: translateX(100%);
}

.footer-leaderboard-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.footer-leaderboard-inner ul li {
    margin-left: 1.75rem;
    margin-bottom: .25rem;
}
li.top-player-1, li.top-player-2, li.top-player-3 {
    font-weight: 700;
}
li.top-player-1 {
    color: rgb(206, 176, 7);
}
li.top-player-2 {
    color: rgb(133, 133, 133);
}
li.top-player-3 {
    color: #cd7f32;
}
li.top-player-1:before {
    content: '🥇';
    margin-right: -1.5em;
    position: relative;
    left: -1.75em;
}
li.top-player-2:before {
    content: '🥈';
    margin-right: -1.5em;
    position: relative;
    left: -1.75em;
}
li.top-player-3:before {
    content: '🥉';
    margin-right: -1.5em;
    position: relative;
    left: -1.75em;
}

.footer-credits-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
}

a.footer-credits-daily-link[href="/daily/"] {
    color: green;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    animation: rainbowEffect 10s infinite linear alternate;
}

@keyframes rainbowEffect {
    0% {
        filter: sepia(1) hue-rotate(0deg) brightness(1.2);
    }
    100% {
        filter: sepia(1) hue-rotate(360deg) brightness(1.2);
    }
}