.back-to-jelst {
    display: block;
    position: fixed;
    bottom:0;
    left: 0;
    padding: 0.5em 1em;
    color: white;
    background-color: coral;
    transition: all	0.3s ease-in-out;
    border-radius: 0 1rem 0 0;
}
.back-to-jelst:hover {
    padding: 0.5em 1em 1em;
}

.back-to-jelst a {
    color: white;
    text-decoration: none;
}

.jelst-audio {
    display: block;
    position: fixed;
    bottom: 64px;
    left: 0;
    width: auto;
    height: auto;
    padding: .5rem 1rem;
    background-color: coral;
    border-radius: 0 .5rem .5rem 0;
    z-index: 200;
}

.jelst-audio input {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 5px;
    }

    .jelst-audio input:hover {
        opacity: 1;
    }

    .jelst-audio input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: cornflowerblue;
        cursor: pointer;
        border-radius: 50%;
    }

    .jelst-audio input::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: cornflowerblue;
        cursor: pointer;
        border-radius: 50%;
    }
