body {
    background-color: #14151f;
    background-image: none;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.case-picker-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 80vw;
}
.csbox-checkbox {
    display: none;
}
.csbox-checkbox-label {
    display: flex;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 0px solid #fff;
    border-radius: 0.2em;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    flex-flow: column;
    max-width: 150px;
    filter: saturate(0);
    text-align: center;
}
.csbox-checkbox-label img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}
.csbox-checkbox-label:hover {
    filter: saturate(.5);
    transform: scale(.9);
}
.csbox-checkbox:checked + .csbox-checkbox-label {
    filter: saturate(1);
}

.case-opener {
    overflow: hidden;
}
.case-spinner {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100vw;
    background: #14151f;
    background-image: url('/cases/assets/img/inferno.jpg');
    background-position: center;
    background-size: cover;
    height: 230px;
    border: 1px solid coral;
    border-left: none;
    border-right: none;
    overflow-x: hidden;
    box-shadow: inset coral 0px 0px 16px 0;
}

.case-spinner::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid coral;
}

.case-spinner-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    transition: all 5s ease-out;
}
.case-item, .winning-case-item {
    height: 75%;
    min-width: 300px;
    border-bottom: solid 8px;
    margin: 16px 16px 16px 0;
    color: white;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.case-item img, .winning-case-item img {
    max-width: 80%;
    max-height: 90%;
    height: auto;
    width: auto;
    object-fit: contain;
    object-position: center;
    padding: .5rem;
}
.winning-case-item {
    /* filter: drop-shadow(0 0 0.75rem gold); */
}
.case-spinner-inner.spinning-block {
    transition: none;
}
.open-case {
    background-color: coral;
    text-align: center;
    font-size: 24px;;
    border: none;
    margin: 0 auto;
}
.open-case::before {
    content: '\1F511'; /* Unicode for key icon */
    margin-right: 0.5em;
}

.case-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 80vw;
}
.last-case {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 80vw;
}
.last-case img {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.last-case .case-item {
    width: 300px;
    height: auto;
    margin: 0 auto;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.case-history-list {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 80vw;
    color: white;
    list-style-type: none;
}

.earnings {
    color: greenyellow;
}

.ohnepixel-live-reaction {
    position: fixed;
    bottom: 104px;
    left: 0;
    height: 24px;
    transition: 0.3s all ease-in-out;
}
.ohnepixel-live-reaction:hover {

    height: 300px;
}